.fullscreen {
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      overflow: auto;
      z-index: 1000;
      background: black;
}

#fullscreen-cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.9);
    z-index:5;
    width:100%;
    height:100%;
}
